html {
    height: 100%;
    box-sizing: border-box;
    background-image: url("../images/background-1680x8400.jpg");
    background-repeat: no-repeat;
    background-color: #eadbb969;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: screen;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 5rem;
    min-height: 100%;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 1em;
}

body > header {
    padding: 1rem 20% 1rem 20%;
}

body > header > h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0.83em 0 0.3em 0;
    font-family: 'Pacifico', Verdana, sans-serif;
}

body > header > h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 0.2em 0 0.83em 0;
    border-bottom: 0.1em solid;
}

main {
    padding: 1rem;
}

#proverb-paragraph {
    font-size: 4em;
    font-family: 'Pacifico', Verdana, sans-serif;
    font-style: italic;
    cursor: pointer;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
